.dashboard-container {
    display: flex;
    height: 100vh;
}

.dashboard-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
}